@model List<BDTask_JonSiv.ViewModels.CustomerOrdersViewModel>

@{
    ViewData["Title"] = "Index - Customer List";
    //sort customer list by latest registered first(date or time)
    Model.Sort((c1,c2) => c2.Customer.DateRegistered.CompareTo(c1.Customer.DateRegistered));
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                DateRegistered
            </th>
            <th>Order Count</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.DateRegistered)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.OrderCount)
             </td>
        </tr>
}
    </tbody>
</table>
